@tailwind base;
@tailwind components;
@tailwind utilities;

.home {
    @apply
    h-12
    relative
    before:absolute
    before:bg-[url('../img/hero-background-l.svg')]
    before:bg-no-repeat
    before:bg-cover
    before:bg-center
    before:-z-10
    before:translate-y-[-42vh]
    before:h-[155vh]
    before:w-full
    before:block
    ;
}


.menu {
    @apply md:flex md:gap-8 text-base;
}

.menu__item {
    @apply
    font-medium
    flex
    items-center
    text-gray-900
    hover:opacity-50
    cursor-pointer
    border-t-2
    border-t-gray-200
    md:border-none
    h-12;
}

.menu__item-button {
    @apply h-auto py-3  md:py-2;
}

.icon {
    @apply h-5 w-5;
}

.menu__item--active > .icon {
    @apply animate-iconRotate;
}

.menu__item--inactive > .icon {
    @apply animate-iconReverseRotate;
}

.menu__item--hidden {
    @apply hidden
}



